{{ if eq .chezmoi.username "yzl178me" -}}
[url "git@gitee.com:"]
  insteadOf = https://gitee.com/

[url "git@github.com:"]
  insteadOf = https://github.com/

{{ end -}}
[user]
	email = 1403341393@qq.com
	name = yzl178me
